<nav class="navbar">
  <p></p>
  <h1>LOGIN</h1>
  <a href="#"></a>
</nav>

<%= form_with(url: "/login", method: 'post') do %>
  <%= text_field_tag :name, nil, placeholder: "Name" %>
  <%= submit_tag "Enter" %>
<% end %>
