<div class="banner">
  <h1>LOGIN</h1>
</div>

<%= form_with(url: "/login", method: 'post', id: "login-form") do %>
  <%= text_field_tag :name, nil, placeholder: "Name" %>
  <%= submit_tag "Enter" %>
<% end %>

<p class="new-account-link">
  First time using TrainTrack?
  <%= link_to "Create an account", new_user_path %>
</p>
