<h1>
  You are viewing the Group show page for <%= @group.name %>!
</h1>

<ul>
  <% @transactions.each do |transaction| %>
    <li>
      <%= "#{transaction.name}, by #{transaction.user.name}" %>
    </li>
    <%=  %>
  <% end %>
</ul>