<h1>
  You are viewing the User show page for <%= @user.name %>!
</h1>

<%= link_to "All transactions", transactions_path %>
<%= link_to "All external transactions" %>
<%= link_to "All groups", groups_path %>
