// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Transactions index

@import "mixins";

.transactions-index {
  font-size: 2rem;

  .banner {
    @include banner;
  }
}

.transactions-total {
  padding: 2rem 1rem;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    margin: 0;
  }
}

.transactions-list {
  @include card-list;
}

.transaction-amount {
  padding-top: 1rem;
  font-weight: 800;
}

// Transactions show

.transaction-show {
  background: #F0F2F1;
  padding: 1rem;

  .transaction-card {
    background: white;
    padding: 1.5rem;

    .header {
      .title-wrapper {
        display: flex;

        .image {
          width: 110px;
          height: 110px;
          background: red;
        }

        .title {
          margin-left: 1rem;
        }
      }
    }
    .info {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
    .amount {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0;
      h4 {
        margin: 0;
      }
    }
  }
}

// Transactions new

.transactions-new {
  form {
    .field-wrapper {
      @include field-wrapper;
      .input {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        box-shadow: none;
        > * {
          min-width: 30%;
        }
      }
    }
    input,
    label {
      font-size: 2rem;
    }
  }
}
