// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Transactions index

@import "mixins";

.transactions-index,
.external-transactions {
  font-size: 1.85rem;

  .banner {
    @include banner;
  }
}

.transactions-total {
  padding: 2rem 1rem;
  background: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    margin: 0;
  }

  span {
    font-family: 'Proxima-Nova-Bold', serif;
  }
}

.transactions-list {
  @include card-list;
}

.transaction-amount {
  padding-top: 1rem;
  font-weight: 800;
}

// Transactions show

.transaction-show {
  background: #f0f2f1;
  padding: 1rem;
  // font-size: 30px;
  font-size: 2rem;

  .transaction-card {
    background: white;
    padding: 1.5rem;

    .header {
      .title-wrapper {
        display: flex;
        align-items: center;

        .image {
          width: 110px;
          height: 110px;
        }

        .title {
          margin: 0 1rem;
          font-size: 1.8rem;
          font-weight: 100;
        }
      }

      .description {
        padding: 1rem 0;
        font-size: 35px;
        color: #666;
      }
    }

    .info {
      border: 2.5px solid #e1e1e1;
      border-left: none;
      border-right: none;
      padding: 1rem 0;

      .date {
        font-size: 1.5rem;
        color: #666;
      }
    }

    .amount {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0;
      font-size: 2rem;

      h4 {
        margin: 0;
        font-weight: 300;
      }

      span {
        font-weight: 600;
      }
    }
  }
}

// Transactions new

.transactions-new {
  form {
    .field-wrapper {
      @include field-wrapper;

      .input {
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        box-shadow: none;

        > * {
          min-width: 30%;
        }
      }
    }

    input,
    label {
      font-size: 2rem;
    }
  }
}
