// Place all the styles related to the Transactions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

// Transactions index

.transactions-total {
  padding: 2rem 1rem;
  background: #FFFFFF;
  display: flex;
  justify-content: space-between;
  align-items: center;

  > * {
    margin: 0;
  }
  h3 {

  }

  span {

  }
}

.transactions-list {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  background: #F0F2F1;

  .card {
    padding: 1rem;
    margin: 1rem;
    display: flex;
    background: #FFFFFF;

    .image {
      background: red;
      height: 110px;
      width: 110px;
    }
    
    .card-body {
      display: flex;
      justify-content: space-between;
      flex: 1;

      .transaction-details {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        padding: 0 1rem;

        h5 {
          margin-top: 1rem;
        }

        p {
          margin: 0;
        }
      }
    }
  }
}

// Transactions show

.transaction-show {
  background: #F0F2F1;
  padding: 1rem;

  .transaction-card {
    background: white;
    padding: 1.5rem;

    .header {
      .title-wrapper {
        display: flex;

        .image {
          width: 110px;
          height: 110px;
          background: red;
        }

        .title {
          margin-left: 1rem;
        }
      }
    }
    .info {
      border-top: 2px solid black;
      border-bottom: 2px solid black;
    }
    .amount {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 0;
      h4 {
        margin: 0;
      }
    }
  }
}