<div class="transactions-index">  
  <div class="banner">
    <h1>Transactions</h1>
  </div>

  <%= render 'transaction_list' %>

  <%= button_to "Create a new transaction", new_transaction_path, method: 'get' %>

</div>