<div class="transactions-index">  
  <div class="banner">
    <h1>Transactions</h1>
  </div>



  <div class="transactions-total">
    <h3>Transactions Total:</h3>
    <span><%= @total_transactions_value %></span>
  </div>

  <ul class="transactions-list">
    <% @transactions.each do |transaction| %>
      <div class="card">
        <div class="image"></div>
        <div class="card-body">
          <div class="details">
            <h5><%= transaction.name %></h5>
            <p><%= transaction.created_at.strftime("%d %b. %Y") %></p>
          </div>
          <div class="transaction-amount">
            <%= "#{transaction.amount} hours" %>
          </div>
        </div>
      </div>
    <% end %>
  </ul>
</div>
